.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > div {
  padding: 5px 0 5px 0;
  text-align: center;
}

.main > div > form, table {
  padding: 5px;
  border: 0.5px solid #000;
}

.main > div > table {
  width: 800px;
}
